@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PixelFont';
    src: url('/PressStart2P.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}